body {
}

.main {
    width:100%;
    margin:auto;
}

.view {
    margin:auto;
}

    .view table {
        margin:auto;
        font-size:13px;
        width:100%;
    }

        .view table tr td {
                max-width:30%;
        }

.userid {
    
}

